* {
  margin: 0;
  padding: 0;
}
#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 200ms linear;
}
#sidebar.active {
  left: 0;
}
#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  padding: 15px 10px;
  list-style: none;
}
.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 220px;
  top: 20px;
  cursor: pointer;
}
#sidebar .toggle-btn span {
  display: inline-block;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  border: 1px solid #000000;
}
